In [12]:
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/10/2020', end='2/26/2020', freq='30T')

In [13]:
date_rng

DatetimeIndex(['2020-01-10 00:00:00', '2020-01-10 00:30:00',
               '2020-01-10 01:00:00', '2020-01-10 01:30:00',
               '2020-01-10 02:00:00', '2020-01-10 02:30:00',
               '2020-01-10 03:00:00', '2020-01-10 03:30:00',
               '2020-01-10 04:00:00', '2020-01-10 04:30:00',
               ...
               '2020-02-25 19:30:00', '2020-02-25 20:00:00',
               '2020-02-25 20:30:00', '2020-02-25 21:00:00',
               '2020-02-25 21:30:00', '2020-02-25 22:00:00',
               '2020-02-25 22:30:00', '2020-02-25 23:00:00',
               '2020-02-25 23:30:00', '2020-02-26 00:00:00'],
              dtype='datetime64[ns]', length=2257, freq='30T')

In [14]:
len(date_rng)

2257

In [15]:
from random import seed
from random import randint

In [16]:
my_list = []
for _ in range(len(date_rng)):
    my_list.append(randint(-45, -8))

In [17]:
type(date_rng)

pandas.core.indexes.datetimes.DatetimeIndex

In [18]:
data = pd.DataFrame(index=date_rng)
data

Empty DataFrame
Columns: []
Index: [2020-01-10 00:00:00, 2020-01-10 00:30:00, 2020-01-10 01:00:00, 2020-01-10 01:30:00, 2020-01-10 02:00:00, 2020-01-10 02:30:00, 2020-01-10 03:00:00, 2020-01-10 03:30:00, 2020-01-10 04:00:00, 2020-01-10 04:30:00, 2020-01-10 05:00:00, 2020-01-10 05:30:00, 2020-01-10 06:00:00, 2020-01-10 06:30:00, 2020-01-10 07:00:00, 2020-01-10 07:30:00, 2020-01-10 08:00:00, 2020-01-10 08:30:00, 2020-01-10 09:00:00, 2020-01-10 09:30:00, 2020-01-10 10:00:00, 2020-01-10 10:30:00, 2020-01-10 11:00:00, 2020-01-10 11:30:00, 2020-01-10 12:00:00, 2020-01-10 12:30:00, 2020-01-10 13:00:00, 2020-01-10 13:30:00, 2020-01-10 14:00:00, 2020-01-10 14:30:00, 2020-01-10 15:00:00, 2020-01-10 15:30:00, 2020-01-10 16:00:00, 2020-01-10 16:30:00, 2020-01-10 17:00:00, 2020-01-10 17:30:00, 2020-01-10 18:00:00, 2020-01-10 18:30:00, 2020-01-10 19:00:00, 2020-01-10 19:30:00, 2020-01-10 20:00:00, 2020-01-10 20:30:00, 2020-01-10 21:00:00, 2020-01-10 21:30:00, 2020-01-10 22:00:00, 2020-01-10 22:30:00, 2020-01-10 23:00:00, 2020-01-10 23:30:00, 2020-01-11 00:00:00, 2020-01-11 00:30:00, 2020-01-11 01:00:00, 2020-01-11 01:30:00, 2020-01-11 02:00:00, 2020-01-11 02:30:00, 2020-01-11 03:00:00, 2020-01-11 03:30:00, 2020-01-11 04:00:00, 2020-01-11 04:30:00, 2020-01-11 05:00:00, 2020-01-11 05:30:00, 2020-01-11 06:00:00, 2020-01-11 06:30:00, 2020-01-11 07:00:00, 2020-01-11 07:30:00, 2020-01-11 08:00:00, 2020-01-11 08:30:00, 2020-01-11 09:00:00, 2020-01-11 09:30:00, 2020-01-11 10:00:00, 2020-01-11 10:30:00, 2020-01-11 11:00:00, 2020-01-11 11:30:00, 2020-01-11 12:00:00, 2020-01-11 12:30:00, 2020-01-11 13:00:00, 2020-01-11 13:30:00, 2020-01-11 14:00:00, 2020-01-11 14:30:00, 2020-01-11 15:00:00, 2020-01-11 15:30:00, 2020-01-11 16:00:00, 2020-01-11 16:30:00, 2020-01-11 17:00:00, 2020-01-11 17:30:00, 2020-01-11 18:00:00, 2020-01-11 18:30:00, 2020-01-11 19:00:00, 2020-01-11 19:30:00, 2020-01-11 20:00:00, 2020-01-11 20:30:00, 2020-01-11 21:00:00, 2020-01-11 21:30:00, 2020-01-11 22:00:00, 2020-01-11 22:30:00, 2020-01-11 23:00:00, 2020-01-11 23:30:00, 2020-01-12 00:00:00, 2020-01-12 00:30:00, 2020-01-12 01:00:00, 2020-01-12 01:30:00, ...]

[2257 rows x 0 columns]

In [19]:
data['temparature'] = my_list
data

                     temparature
2020-01-10 00:00:00          -29
2020-01-10 00:30:00          -22
2020-01-10 01:00:00          -31
2020-01-10 01:30:00          -41
2020-01-10 02:00:00          -16
...                          ...
2020-02-25 22:00:00          -45
2020-02-25 22:30:00          -14
2020-02-25 23:00:00          -26
2020-02-25 23:30:00          -11
2020-02-26 00:00:00          -21

[2257 rows x 1 columns]

In [20]:
data.to_csv('icecream_data.csv', index=True)