In [3]:
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/10/2020', end='2/26/2020', freq='15T')

In [4]:
date_rng

DatetimeIndex(['2020-01-10 00:00:00', '2020-01-10 00:15:00',
               '2020-01-10 00:30:00', '2020-01-10 00:45:00',
               '2020-01-10 01:00:00', '2020-01-10 01:15:00',
               '2020-01-10 01:30:00', '2020-01-10 01:45:00',
               '2020-01-10 02:00:00', '2020-01-10 02:15:00',
               ...
               '2020-02-25 21:45:00', '2020-02-25 22:00:00',
               '2020-02-25 22:15:00', '2020-02-25 22:30:00',
               '2020-02-25 22:45:00', '2020-02-25 23:00:00',
               '2020-02-25 23:15:00', '2020-02-25 23:30:00',
               '2020-02-25 23:45:00', '2020-02-26 00:00:00'],
              dtype='datetime64[ns]', length=4513, freq='15T')

In [5]:
len(date_rng)

4513

In [6]:
from random import seed
from random import randint

In [7]:
my_list = []
for _ in range(len(date_rng)):
    my_list.append(randint(-30, 0))

In [8]:
type(date_rng)

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
data = pd.DataFrame(index=date_rng)
data

Empty DataFrame
Columns: []
Index: [2020-01-10 00:00:00, 2020-01-10 00:15:00, 2020-01-10 00:30:00, 2020-01-10 00:45:00, 2020-01-10 01:00:00, 2020-01-10 01:15:00, 2020-01-10 01:30:00, 2020-01-10 01:45:00, 2020-01-10 02:00:00, 2020-01-10 02:15:00, 2020-01-10 02:30:00, 2020-01-10 02:45:00, 2020-01-10 03:00:00, 2020-01-10 03:15:00, 2020-01-10 03:30:00, 2020-01-10 03:45:00, 2020-01-10 04:00:00, 2020-01-10 04:15:00, 2020-01-10 04:30:00, 2020-01-10 04:45:00, 2020-01-10 05:00:00, 2020-01-10 05:15:00, 2020-01-10 05:30:00, 2020-01-10 05:45:00, 2020-01-10 06:00:00, 2020-01-10 06:15:00, 2020-01-10 06:30:00, 2020-01-10 06:45:00, 2020-01-10 07:00:00, 2020-01-10 07:15:00, 2020-01-10 07:30:00, 2020-01-10 07:45:00, 2020-01-10 08:00:00, 2020-01-10 08:15:00, 2020-01-10 08:30:00, 2020-01-10 08:45:00, 2020-01-10 09:00:00, 2020-01-10 09:15:00, 2020-01-10 09:30:00, 2020-01-10 09:45:00, 2020-01-10 10:00:00, 2020-01-10 10:15:00, 2020-01-10 10:30:00, 2020-01-10 10:45:00, 2020-01-10 11:00:00, 2020-01-10 11:15:00, 2020-01-10 11:30:00, 2020-01-10 11:45:00, 2020-01-10 12:00:00, 2020-01-10 12:15:00, 2020-01-10 12:30:00, 2020-01-10 12:45:00, 2020-01-10 13:00:00, 2020-01-10 13:15:00, 2020-01-10 13:30:00, 2020-01-10 13:45:00, 2020-01-10 14:00:00, 2020-01-10 14:15:00, 2020-01-10 14:30:00, 2020-01-10 14:45:00, 2020-01-10 15:00:00, 2020-01-10 15:15:00, 2020-01-10 15:30:00, 2020-01-10 15:45:00, 2020-01-10 16:00:00, 2020-01-10 16:15:00, 2020-01-10 16:30:00, 2020-01-10 16:45:00, 2020-01-10 17:00:00, 2020-01-10 17:15:00, 2020-01-10 17:30:00, 2020-01-10 17:45:00, 2020-01-10 18:00:00, 2020-01-10 18:15:00, 2020-01-10 18:30:00, 2020-01-10 18:45:00, 2020-01-10 19:00:00, 2020-01-10 19:15:00, 2020-01-10 19:30:00, 2020-01-10 19:45:00, 2020-01-10 20:00:00, 2020-01-10 20:15:00, 2020-01-10 20:30:00, 2020-01-10 20:45:00, 2020-01-10 21:00:00, 2020-01-10 21:15:00, 2020-01-10 21:30:00, 2020-01-10 21:45:00, 2020-01-10 22:00:00, 2020-01-10 22:15:00, 2020-01-10 22:30:00, 2020-01-10 22:45:00, 2020-01-10 23:00:00, 2020-01-10 23:15:00, 2020-01-10 23:30:00, 2020-01-10 23:45:00, 2020-01-11 00:00:00, 2020-01-11 00:15:00, 2020-01-11 00:30:00, 2020-01-11 00:45:00, ...]

[4513 rows x 0 columns]

In [10]:
data['temparature'] = my_list
data

                     temparature
2020-01-10 00:00:00          -12
2020-01-10 00:15:00           -9
2020-01-10 00:30:00          -10
2020-01-10 00:45:00           -8
2020-01-10 01:00:00          -19
...                          ...
2020-02-25 23:00:00            0
2020-02-25 23:15:00          -19
2020-02-25 23:30:00          -24
2020-02-25 23:45:00          -12
2020-02-26 00:00:00          -12

[4513 rows x 1 columns]

In [11]:
data.to_csv('chicken_data.csv', index=True)